<h2>Main page</h2>
<% @posts.each do |post| %>
  <div class="aler alert-light">
  <h4><%= post.title %></h4>
  <p><%= post.body %></p>
  <%= link_to 'read more', post_path(post), :class => 'btn btn-outline-primary' %>
  </div><hr>
<% end %>